/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
}
#more-arrows:hover polygon {
    fill: #FFF;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
}

polygon {
    fill: #FFF;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
polygon.arrow-middle {
    opacity: 0.75;
}
polygon.arrow-top {
    opacity: 0.5;
}
/* Arrow & Hover Animation */
.main-title{
    font-family: 'Dancing Script', cursive;
}